services:
  frontend_builder:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend_builder
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    restart: always
